header{
  border:1px solid #A9D0F5;
  background-color:white;
  color:#428bca;
}

header h1{
	text-align:center;
	text-shadow:5px 4px 5px #428bca;
}

#headerNav{
  background-color:white;
  border:2px solid white;
}

#bodyNav{
  display:inline-block;
  float:left;
}

#admin{
  float:right;
}

#divEnregistrer{
	float:left;
	margin-left:3px;
	margin-right:3px;
}

#divOuvrir{
	float:left;
}



section{

 float:left;
  height:100%;
 width:82%;

}
#paper-menu-class{
background-color:white;
}

#paper-class{
 border:2px solid #428bca;
  overflow: scroll;
  width:83%;
  height:520px;
  background-color:white;
}

#paper-activite{
  border:2px solid #428bca;
  overflow: scroll;
  width:83%;
  height:520px;
  background-color:white;
}

#paper-etats{
  border:2px solid #428bca;
  overflow: scroll;
  width:83%;
  height:520px;
  background-color:white;
}

#paper-cas{
  border:2px solid #428bca;
  overflow: scroll;
  width:83%;
  height:520px;
  background-color:white;
}

#paper-sequence{
  border:2px solid #428bca;
  overflow: scroll;
  width:83%;
  height:520px;
  background-color:white;
}

#evry{
width:5%;
height:5%;
float:left;
}

#ibisc{
width:5%;
height:8%;

position:absolute;
margin-left:89%;

}


aside{
 border:2px solid #428bca;
 height:65%;
 width:15%;
 position:absolute;
 left:85%;
 top:17%;
 overflow:scroll;
 background-color:white;
 color:#428bca;
}

#mini-paper{
 border:2px solid #428bca;
 height:16%;
 width:15%;
 position:absolute;
 left:85%;
 top:82%;
 background-color:white;
}

#propriete{
display:none;
}

#mail{
width:40%;
}

#password{
width:30%;
}

svg{
background-color:white;
}

