body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

nav{
	position:fixed;
}

section{
	position:relative;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}


#CreerEnseignement{
	display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#CreerMatiere{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


#CreerEnseignement:target{
    display: block;
}

#CreerEnseignement form{
	padding-top:2%;
}

#CreerMatiere:target{
    display: block;
}

#CreerMatiere form{
	padding-top:2%;
}

.popup_block{
    background: #fff;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    margin: 10% auto;
    width: 40%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}

img.btn_close {
    float: right;
    margin: 0 0 0 0;
}


#CM, #TD, #Exam{
	margin-left:3%;
}

#ConsulterMatiere{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#ConsulterMatiere:target{
    display: block;
}

#ConsulterMatiere form{
	padding-top:2%;
}

#SupprimerMatiere{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#SupprimerMatiere:target{
    display: block;
}

#SupprimerMatiere form{
	padding-top:2%;
}

#CreerFiliere{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#CreerFiliere:target{
    display: block;
}

#CreerFiliere form{
	padding-top:2%;
}

#ConsulterFiliere{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#ConsulterFiliere:target{
    display: block;
}

#ConsulterFiliere form{
	padding-top:2%;
}

#SupprimerFiliere{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#SupprimerFiliere:target{
    display: block;
}

#SupprimerFiliere form{
	padding-top:2%;
}

#ConsulterEnseignement{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#ConsulterEnseignement:target{
    display: block;
}

#ConsulterEnseignement form{
	padding-top:2%;
}