header{
  border:1px solid violet;
}

header h1{
	text-align:center;
}

#headerNav{
  border:1px solid red;
}

#bodyNav{
  border:1px solid pink;
  display:inline-block;
  float:left;
}

#admin{
  float:right;
}

section{
 border:1px solid yellow;
 float:left;
  height:100%;
 width:82%;

}
#paper-class{
 border:1px solid blue;
  overflow: scroll;
  width:82%;
  height:520px;
}

#paper-activite{
 border:1px solid blue;
  overflow: scroll;
  width:82%;
  height:520px;
}

aside{
 border:1px solid brown;
 height:65%;
 width:15%;
 position:absolute;
 left:85%;
 top:17%;
 overflow:scroll;
}

#mini-paper{
 border:1px solid green;
 height:16%;
 width:15%;
 position:absolute;
 left:85%;
 top:82%;
}

#propriete{
display:none;
}

#mail{
width:45%;
}

#password{
width:35%;
}







